<div>
    <ul>
        @if (ViewData["tables"] != null)
        {
            @foreach (var db in (List<string>)ViewData["tables"])
            {
                <li>@db</li>
            }
        }else{
            <li>@ViewData["Error"]</li>
        }
    </ul>
</div>


