<h1>AdminPage</h1>
<script>
    // Add an event listener for the beforeunload event
    window.addEventListener('beforeunload', function (event) {
        // Clear the "token" cookie
        document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    });
</script>